<div class="hero">
    <div class="hero-inner">
        <div class="hero-copy">
            <h1>Wiry</h1>
            <p>A lean methodolgy web apps incubator <br>based in New Zealand</p>
        </div>
    </div>
</div>
<div class="flex-boxes">
    <a href="javascript:void(0)" target="_blank" class="flex-box">
        <h1 class="flex-title">Dotty</h1>
        <p>A web app that teaches kids responsibility through managing their money, savings and investment.</p>
    </a>
    <a href="javascript:void(0)" target="_blank" class="flex-box">
        <h1 class="flex-title">Accy</h1>
        <p>An accountancy web app that allows small businesses to monitor their short term financial health.</p>
    </a>
    <a href="javascript:void(0)" target="_blank" class="flex-box">
        <h1 class="flex-title">Kandid</h1>
        <p>A web app for IT candidates with skills that are in demand.</p>
    </a>
</div>