<div class="hero">
    <div class="hero-inner">
        <a href="" class="hero-logo"><img src="images/passionfruit-blue.svg" alt="Logo Image">
        </a>
        <div class="hero-copy">
            <h1>Passionfruit</h1>
            <p>Making web machines that automate all the things</p>
        </div>
    </div>
    <!-- Photo Credit: <a href="https://www.flickr.com/photos/58036892@N07/8615299407/">la01</a> via <a href="http://compfight.com">Compfight</a> <a href="https://creativecommons.org/licenses/by-sa/2.0/">cc</a> -->
</div>
<div class="flex-boxes">
    <a href="http://www.getsafely.com/" target="_blank" class="flex-box">
        <h1 class="flex-title">Safely</h1>
        <p>Safely makes sure your digital files are passed onto the right people in the event that you're unable to pass them on yourself.</p>
    </a>
    <a href="javascript:void(0)" target="_blank" class="flex-box">
        <h1 class="flex-title">Dotty</h1>
        <p>Coming soon</p>
    </a>
    <a href="javascript:void(0)" target="_blank" class="flex-box">
        <h1 class="flex-title">Kandid</h1>
        <p>Coming soon</p>
    </a>
</div>